@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@300&display=swap');

main {
    background-color: rgb(181, 192, 209);
    border-top: 1.5px solid rgb(14, 13, 13);
    height: 50rem;
  }

.principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    height: 10rem;
    padding: 15px;
    margin: 0 auto ;
  }

header {
    height: 3.5rem;
    box-shadow: 0px 4px 40px -20px rgba(0, 0, 0, 0.25);

}

header h1 {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 1.15rem;
    font-weight: 600;
    text-align: center;
    padding: 1.25rem;
}

.tarefa {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.3rem;
    margin-bottom: 1rem;
}

.tarefa-container {
    display: flex;
    flex-direction: column;
}

.digitar-tarefa {
    width: 12rem;
    height: 2rem;
    font-family: fantasy;
    background-color: azure;
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 4px;
}

.selecionar-categoria {
    width: 12rem;
    height: 35px;
    background-color: azure;
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
}

.add {
    width: 12rem;
    height: 2.5rem;
    font-size: 0.9rem;
    font-family: fantasy;
    background-color: #45e0b2;
    color: #FFFFFF;
    border: 1px solid rgb(96, 194, 194);
    cursor: pointer;
    margin-bottom: 12px
}

.hist {
    width: 12rem;
    height: 2.5rem;
    font-size: 0.9rem;
    font-family: fantasy;
    background-color: #45e0b2;
    color: #FFFFFF;
    border: 1px solid rgb(96, 194, 194);
    cursor: pointer;
}

.containers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 25px 15px;
}

.container {
    width: 48%;
    height: 15rem;
    text-align: center;
    margin-bottom: 1rem;
    background-color: rgb(221, 216, 216);
    overflow: auto;
}

.trabalho {
    height: 30px;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    background-color: rgb(233, 146, 163);
}

.estudo {
    height: 30px;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    background-color: rgb(236, 191, 75);
}

.casa {
    height: 30px;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    background-color: rgb(243, 146, 77);
}

.lazer {
    height: 30px;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    background-color:  #ABDCFF;
}

.lista-tarefas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 4px;
}

.paragraph {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align:start;
    font-family: monospace;
    text-transform: uppercase;
    gap: 0.5rem;
}

.btn-complete, .remover-tarefa {
    text-align: center;
    align-items: center;
    border: 1.5px solid transparent;
    background-color: rgb(221, 216, 216);
    cursor: pointer;
}

table, th, td {
    border: 1px solid rgb(14, 13, 13);
}

th {
    text-align: center;
    padding: 0 auto 0.20rem;
    width: 24%;
}

td {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 24%;
    height: 5rem;
}

a {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: #FFFFFF;
}

table td {
    color: rgba(61, 199, 130, 0.925);
}

.remover-do-historico {
    background-color: rgba(61, 199, 130, 0.925);
    border: 1px solid transparent;
    border-radius: 10%;
    margin: 0.2rem;
}

.historico h2 {
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: tomato;
    font-weight: 500;
    margin-bottom: 1rem;
}

.historico {
    margin: 1rem;
    width: 90%;
    min-height: 15vh;
    text-align: center;
}

@media screen and (min-width: 1025px) {
    body {
      background-color: aquamarine;
    }
  }